%section#worked_with
  .container
    %h2 Employers, clients, partners and friends
    %ul.partners-clients_list
      %li
        %a{:href => "//designmodo.com/", :target => "_blank"}
          %img{:src => "/assets/images/logos/designmodo@2x.png", :alt => "Designmodo"}
      %li
        %a{:href => "//isd-group.com/", :target => "_blank"}
          %img{:src => "/assets/images/logos/isd@2x.png", :alt => "ISD Group"}
      %li
        %a{:href => "//apparat.cc", :target => "_blank"}
          %img{:src => "/assets/images/logos/apparat@2x.png", :alt => "Apparat.cc"}
      %li
        %a{:href => "//r-e-e-d.com/", :target => "_blank"}
          %img{:src => "/assets/images/logos/reed@2x.png", :alt => "Reed Media"}

      %li
        %a{:href => "//www.hopesandfears.com/", :target => "_blank"}
          %img{:src => "/assets/images/logos/hopesandfears@2x.png", :alt => "Hopes&Fears"}

      %li
        %a{:href => "//rune.clothing/", :target => "_blank"}
          %img{:src => "/assets/images/logos/rune@2x.png", :alt => "Rune Clothing"}
      %li
        %a{:href => "//laskastore.com/", :target => "_blank"}
          %img{:src => "/assets/images/logos/laska@2x.png", :alt => "Laska Charity Store"}

      %li
        %a{:href => "//railsreactor.com", :target => "_blank"}
          %img{:src => "/assets/images/logos/railsreactor@2x.png", :alt => "Rails Reactor"}

      %li
        %a{:href => "//nich.io", :target => "_blank"}
          %img{:src => "/assets/images/logos/nich@2x.png", :alt => "Nich.io"}

      %li
        %a{:href => "//ed-era.com", :target => "_blank"}
          %img{:src => "/assets/images/logos/edera@2x.png", :alt => "Ed-Era"}

      %li
        %a{:href => "//mapia.ua", :target => "_blank"}
          %img{:src => "/assets/images/logos/mapia@2x.png", :alt => "Mapia"}

      %li
        %a{:href => "//perfectionist.media", :target => "_blank"}
          %img{:src => "/assets/images/logos/perfectionist@2x.png", :alt => "Perfectionist Media"}

      %li
        %a{:href => "//platfor.ma", :target => "_blank"}
          %img{:src => "/assets/images/logos/platforma@2x.png", :alt => "Platfor.ma"}

      %li
        %a{:href => "//unteleported.com", :target => "_blank"}
          %img{:src => "/assets/images/logos/unteleported@2x.png", :alt => "Unteleported"}

      %li
        %a{:href => "//cheesebanana.com", :target => "_blank"}
          %img{:src => "/assets/images/logos/cheesebanana@2x.png", :alt => "CHEESEBANANA"}

      %li
        %a{:href => "//fresh-design.com.ua", :target => "_blank"}
          %img{:src => "/assets/images/logos/freshdesign@2x.png", :alt => "Fresh Design"}

      %li
        %a{:href => "//grammarly.com", :target => "_blank"}
          %img{:src => "/assets/images/logos/grammarly@2x.png", :alt => "Grammarly"}

      %li
        %a{:href => "//artlebedev.ru", :target => "_blank"}
          %img{:src => "/assets/images/logos/artlebedev@2x.png", :alt => "Art. Lebedev Studio"}