%section#works
  .container
    %h2 Recent works
    .b-works__grid

      %section.year
        %h4.subtitle 2016

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/zetetics/zetetics_preview@2x.jpg", :alt => "Zetetics", "data-wow-delay" => ".2s" }/
            %figcaption
              %h3
                Zetetics
              %p
                Website for Ukrainian indie-rock band 
                %a{:href => "//zetetics.band", :target => "_blank"} zetetics.band

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/startup/startup_preview@2x.jpg", :alt => "Startup Framework"}/
            %figcaption
              %h3
                Startup Framework
              %p
                Updated the
                %a{:href => "//designmodo.com/startup", :target => "_blank"} Startup Framework
                for Designmodo.

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/skilz/skilz_preview@2x.jpg", :alt => "Skilz.tv"}/
            %figcaption
              %h3
                Skilz.tv
              %p
                Layout update of  
                %a{:href => "//skilz.tv", :target => "_blank"} skilz.tv

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/reachable/reachable_preview@2x.jpg", :alt => "Reachable"}/
            %figcaption
              %h3
                Reachable
              %p
                Wordpress theme layout for
                %a{:href => "//reachable.com", :target => "_blank"} reachable.com

        

      %section.year
        %h4.subtitle 2015
        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/tinaantonenko/tina_preview@2x.jpg", :alt => "Tina Antonenko"}/
            %figcaption
              %h3
                Tina Antonenko
              %p
                Website for professional make-up artist 
                %a{:href => "//tinaantonenko.com"} tinaantonenko.com

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/pianoboy/pianoboy_preview@2x.jpg", :alt => "Pianoboy — Take Off"}/
            %figcaption
              %h3
                Take Off
              %p
                Website for new album «Take Off» by 
                %a{:href => "//pianoboy.band", :target => "_blank"} pianoboy.band

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/expertorama/expertorama_preview@2x.jpg", :alt => "Expertorama"}/
            %figcaption
              %h3
                Expertorama
              %p
                Wordpress theme for new media about startups and investments 
                %a{:href => "//expertorama.com/", :target => "_blank"} expertorama.com
        
        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/hopesandfears/typography_preview@2x.jpg", :alt => "13 miles of typography on Broadway, from A to Z"}/
            %figcaption
              %h3
                13 miles of typography on Broadway, from A to Z
              %p
                %a{:href => "//www.hopesandfears.com/hopes/culture/design/216855-typography-of-broadway-from-a-to-z", :target => "_blank"} Article
                development for Hopes&Fears

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/justreachout/justreachout_preview@2x.jpg", :alt => "JustReachOut"}/
            %figcaption
              %h3
                JustReachOut
              %p
                Find and pitch journalists who are actually interested in you 
                %a{:href => "//justreachout.io", :target => "_blank"} justreachout.io

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/eyeseestyle/eyeseestyle_preview@2x.jpg", :alt => "EyeSeeStyle"}/
            %figcaption
              %h3
                EyeSeeStyle
              %p
                Fashion blog by Elena Pashchenko
                %a{:href => "//eyeseestyle.com/", :target => "_blank"} eyeseestyle.com

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/bro/bro_preview@2x.jpg", :alt => "Твой Бро"}/
            %figcaption
              %h3
                Твой Бро
              %p
                Онлайн-издание о городской культуре Калининграда
                %a{:href => "//tvoybro.com/", :target => "_blank"} tvoybro.com

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/skilz/skilz_preview@2x.jpg", :alt => "Skilz.tv"}/
            %figcaption
              %h3
                Skilz
              %p
                Website of animation and video production studio
                %a{:href => "//skilz.tv", :target => "_blank"} skilz.tv

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/intel/intel_preview@2x.jpg", :alt => "Intel® Makers"}/
            %figcaption
              %h3
                Intel® Makers
              %p
                Website and blog about Intel® boards.
                %a{:href => "//makers.in.ua/", :target => "_blank"} makers.in.ua

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/cosiconsulting/cosi_preview@2x.jpg", :alt => "Insight by Cosi Consulting"}/
            %figcaption
              %h3
                Insight
              %p
                by Cosi Consulting
                %br/
                %a{:href => "//www.cosiconsulting.com", :target => "_blank"} cosiconsulting.com

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/laska/laska_preview@2x.jpg", :alt => "Laska Charity Store"}/
            %figcaption
              %h3
                Laska
              %p
                First Charity Store in Kyiv
                %a{:href => "//laskastore.com", :target => "_blank"} laskastore.com

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/honeymood/honeymood_preview@2x.jpg", :alt => "Honey Mood"}/
            %figcaption
              %h3
                Honey Mood
              %p
                %a{:href => "//honeymood.com.ua", :target => "_blank"} honeymood.com.ua

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/keygroup/keygroup_preview@2x.jpg", :alt => "Keygroup"}/
            %figcaption
              %h3
                Keygroup
              %p
                Keygroup development and consulting company
                %a{:href => "//keygroup.solutions", :target => "_blank"} keygroup.solutions

  .container
    .b-works__grid
      %section.wip__works
        %h4.subtitle Work in progress
        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/mapia/mapia_preview@2x.jpg", :alt => "Mapia"}/
            %figcaption
              %h3
                Mapia
              %p
                New version coming soon.

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/tetrade/tetrade_preview@2x.jpg", :alt => "Tetrade"}/
            %figcaption
              %h3
                Tetrade
              %p
                Wordpress implementation of new layout. Coming soon.

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/wspotok/wspotok_preview@2x.jpg", :alt => "Wedding Studio Potok"}/
            %figcaption
              %h3
                Wedding Studio Potok
              %p
                New website is coming soon.

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2016/reed/reed_preview@2x.jpg", :alt => "Reed"}/
            %figcaption
              %h3
                Reed
              %p
                New website for Reed Media. Coming soon.
                / %a{:href => "//reed.media", :target => "_blank"} reed.media

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/greencycle/greencycle_preview@2x.jpg", :alt => "Green Cycle"}/
            %figcaption
              %h3
                Green Cycle
              %p
                Coming soon.

        %article.work
          %figure
            %img{"data-adaptive-background" => "", :src => "/assets/images/works/2015/rune/splash_preview@2x.jpg", :alt => "Rune Clothing"}/
            %figcaption
              %h3
                Rune Clothing
              %p
                Website for clothing brand from Kyiv 
                / %a{:href => "//rune.clothing", :target => "_blank"} rune.clothing