@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides

$gutter: em(15px);
$max-width: em(1440);
$gutter-percent : calc-percent($gutter, $max-width);
// $visual-grid: true;
$grid-columns: 9 !default;

$mobile: new-breakpoint(max-width 767px 4);
$tablet: new-breakpoint(min-width 768px max-width 900px 8);
$desktop: new-breakpoint(min-width 900px 9);
$desktop-hd: new-breakpoint(min-width 1300px 12);